@import "tailwindcss";

@theme {
  --color-navy-900: #0f172a;
  --color-navy-800: #1e293b;
  --color-navy-700: #334155;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
  }
}
